<mat-toolbar color="primary" class="custom-toolbar">
  <div class="toolbar-content">
    <div i18n="@@tableSearchHeading">Table Search</div>
    <div class="example-fill-remaining-space"></div>
    <div class="import-container">
      @if(importing) {
        <mat-spinner color="accent" diameter="30"></mat-spinner>
      }
      <button
        mat-flat-button
        i18n-matTooltip
        matTooltip="A new DB instance needs a data import first."
        i18n-matTooltip="@@tableSearchDataImport"
        color="primary"
        (click)="importData()"
        i18n="@@tableSearchImportData"
        >
        Import Data
      </button>
    </div>
    <div>
      <button
        mat-flat-button
        color="primary"
        (click)="showList()"
        i18n="@@list"
        >
        List
      </button>
    </div>
    <div>
      <button
        mat-flat-button
        color="primary"
        (click)="logout()"
        i18n="@@logout"
        >
        Logout
      </button>
    </div>
  </div>
</mat-toolbar>
<div class="search-bar">
  <mat-form-field class="example-full-width">
    <mat-label i18n="@@search">Search</mat-label>
    <textarea matInput [formControl]="searchValueControl"></textarea>
  </mat-form-field>
  <div class="search-button-box">
    <button
      mat-flat-button
      color="primary"
      class="search-button"
      (click)="search()"
      [disabled]="searchValueControl.invalid"
      i18n="@@search"
      >
      Search
    </button>
  </div>
</div>
@if(searching) {
  <div class="spinner-container">
    <div class="spinner-box">
      <mat-spinner></mat-spinner>
      <div i18n="@@searchWorking">The AI is working on the answer.</div>
      <div i18n="@@searchBePatient">
      Please be patient. {{ msWorking / 1000 | number : "1.3" }} sec.
    </div>
    </div>
  </div>
  } @if(requestFailed) {
  <h2 class="error-msg" i18n="@@searchRequestFailed">
  Ai Request Failed. Please try again.
</h2>
  } @if(searchResult && searchResult.resultList?.length) {
  <table mat-table [dataSource]="columnData">
    @for (disCol of columnNames; track disCol) {
      <ng-container matColumnDef="{{ disCol }}">
        <th mat-header-cell *matHeaderCellDef>{{ disCol }}</th>
        <td mat-cell *matCellDef="let element">{{ element.get(disCol) }}</td>
      </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
    <tr mat-row *matRowDef="let row; columns: columnNames"></tr>
  </table>
}
