<mat-toolbar color="primary" class="custom-toolbar">
  <div class="toolbar-content">
    <div i18n="@@mcpSearchHeading">Mcp Search</div>
    <div class="example-fill-remaining-space"></div>
    <div>
      <button
        mat-flat-button
        color="primary"
        (click)="showList()"
        i18n="@@list"
        >
        List
      </button>
    </div>
    <div>
      <button
        mat-flat-button
        color="primary"
        (click)="logout()"
        i18n="@@logout"
        >
        Logout
      </button>
    </div>
  </div>
</mat-toolbar>
<form #userForm="ngForm" (ngSubmit)="submitForm()">
<div class="my-input-container">
  <div class="my-textarea">
    <mat-form-field class="example-full-width">
      <mat-label i18n="@@mcpSearchQueryHeading">Query about books or movies</mat-label>
      <textarea matInput i18n-placeholder="@@mcpSearchQueryPlaceholder" placeholder="Ask about books or movies." required [(ngModel)]="query" name="query"></textarea>
    </mat-form-field>
  </div>
  <div class="my-button">
    <button matButton="filled" type="submit" i18n="@@search" [disabled]="!userForm.valid">Search</button>
  </div>
</div>
</form>
<div>
  <h3 i18n="@@responseHeading">Response</h3>
  {{ response }}
</div>