<mat-toolbar color="primary" class="custom-toolbar">
  <div class="toolbar-content">
    <div i18n="@@mcpSearchHeading">Mcp Search</div>
    <div class="example-fill-remaining-space"></div>
    <div>
      <button
        mat-flat-button
        color="primary"
        (click)="showList()"
        i18n="@@list"
        >
        List
      </button>
    </div>
    <div>
      <button
        mat-flat-button
        color="primary"
        (click)="logout()"
        i18n="@@logout"
        >
        Logout
      </button>
    </div>
  </div>
</mat-toolbar>
<form #userForm="ngForm" (ngSubmit)="submitForm()">
<div class="my-input-container">
  <div class="my-textarea">
    <mat-form-field class="example-full-width">
      <mat-label>Query about books or movies</mat-label>
      <textarea matInput placeholder="Ask about books or movies." [(ngModel)]="query"></textarea>
    </mat-form-field>
  </div>
  <div class="my-button">
    <button matButton="filled" type="submit">Basic</button>    
  </div>
</div>
</form>
