<mat-toolbar color="primary" class="custom-toolbar">
  <div class="toolbar-content">
    <div i18n="@@bookListHeading">Book List</div>
    <div class="example-fill-remaining-space"></div>
    <div>
      <button
        mat-flat-button
        color="primary"
        (click)="back()"
        i18n="@@back"
      >
        Back
      </button>
    </div>
    <div>
      <button
        mat-flat-button
        color="primary"
        (click)="logout()"
        i18n="@@logout"
      >
        Logout
      </button>
    </div>
  </div>
</mat-toolbar>
<div>
<div class="add-book">
	<button
        mat-raised-button
        color="primary"
        (click)="addBook()"
        i18n="@@bookListAddBook"
      >
        Add Book
      </button>
</div>
<div class="base-container">
<form class="example-form">
  <mat-form-field class="example-width">
    <mat-label i18n="@@bookListTitleAuthor">Title / Author</mat-label>
    <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      @for (option of filteredOptions; track option) {
        <mat-option [value]="option">{{option.title}}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</form>

<div>
  <h3 i18n="@@bookListBookSummary">Book Summary</h3>
  @if(!!selBook?.summary?.trim()) {
  <mat-form-field class="example-full-width">
    <mat-label>Book Summary</mat-label>
    <textarea matInput placeholder="summary" readonly="true">{{selBook?.summary}}</textarea>
  </mat-form-field>
  }
  </div>
  
  @for(chapter of selBook?.chapters; track chapter) {
  <div>
  	<h4 i18n="@@bookListChapterSummary">Chapter Summary: {{chapter.title}}</h4>
  <mat-form-field class="example-full-width">
    <mat-label>Chapter Summary</mat-label>
    <textarea matInput placeholder="summary" readonly="true">{{chapter.summary}}</textarea>
  </mat-form-field>
  </div>  
  }
</div>
</div>