<div>
<h1 i18n="@@imagequeryHeading">Image description</h1>
<form [formGroup]="imageForm">
 @if(uploading) {
  <div class="upload-spinner"><mat-spinner></mat-spinner></div>
  } @else if(result) {
  <div class="horizontal-container">
  	<div><img src="createImageUrl()"></div>
  	<div>{{result.answer}}</div>
  </div>
  } @else {
  <input type="file" (change)="onFileInputChange($event)" />
  <mat-form-field class="example-full-width">
    <mat-label i18n="@@imagequeryQuery">Image query</mat-label>
    <input matInput placeholder="query" [formControl]="imageForm.controls.query">
  </mat-form-field>
  }
  </form>
  <div class="horizontal-container">
    <button mat-button (click)="cancel()" i18n="@@cancel">Cancel</button>
  <button
    mat-flat-button
    color="primary"
    [disabled]="!imageForm.controls.file || uploading"
    (click)="upload()"
    i18n="@@upload"
  >
    Upload
  </button>
  </div>
</div>
