<mat-toolbar color="primary" class="custom-toolbar">
  <div class="toolbar-content">
    <div i18n="@@imageQueryHeading">Image Query</div>
    <div class="example-fill-remaining-space"></div>
    <div>
      <button
        mat-flat-button
        color="primary"
        (click)="showList()"
        i18n="@@list"
      >
        List
      </button>
    </div>
    <div>
      <button
        mat-flat-button
        color="primary"
        (click)="switchToUpload()"
        i18n="@@upload"
      >
        Upload
      </button>
    </div>
    <div>
      <button
        mat-flat-button
        color="primary"
        (click)="switchToQuery()"
        i18n="@@query"
      >
        Query
      </button>
    </div>
    <div>
      <button
        mat-flat-button
        color="primary"
        (click)="logout()"
        i18n="@@logout"
      >
        Logout
      </button>
    </div>
  </div>
</mat-toolbar>
<div>
  @if(uiMode === 'upload') {
  <form [formGroup]="imageForm">
    @if(uploading) {
    <div class="upload-spinner">
      <div>
        <mat-spinner class="auto-margin"></mat-spinner>
        <div class="auto-margin" i18n="@@searchWorking">
          The AI is working on the answer.
        </div>
        <div class="auto-margin" i18n="@@searchBePatient">
          Please be patient. {{ msWorking / 1000 | number : "1.3" }} sec.
        </div>
      </div>
    </div>
    } @else if(result) {
    <div class="horizontal-container">
      <div><img [src]="result.b64Image" /></div>
      <div>{{ result.answer }}</div>
    </div>
    } @else {    
    <div>
      <input type="file" class="file-input" 
       (change)="onFileInputChange($event)" #fileUpload>
<div class="file-upload">

   {{this.imageForm.controls['file'].value?.name || "No file uploaded yet."}}

    <button mat-mini-fab color="primary" class="upload-btn"
      (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
    </button>
    </div>
</div>   
    <mat-form-field class="example-full-width">
      <mat-label i18n="@@imageQueryPrompt">Image prompt</mat-label>
      <input
        matInput
        placeholder="prompt"
        [formControl]="imageForm.controls.prompt"
      />
    </mat-form-field>
    }
  </form>
  <div class="horizontal-container">
  	<button class="my-button"
      mat-flat-button
      color="primary"
      [disabled]="uploading || !result"
      (click)="reset()"
      i18n="@@reset">
  		Reset
  	</button>
    <button
      class="my-button"
      mat-flat-button
      color="primary"
      [disabled]="uploading || imageForm.invalid"
      (click)="upload()"
      i18n="@@upload"
    >
      Upload
    </button>
  </div>
  } @else if(uiMode === 'query') {
  <div>
    <mat-form-field class="example-full-width">
      <mat-label i18n="@@imageQuery">Image query</mat-label>
      <input matInput placeholder="query" [formControl]="queryControl" />
    </mat-form-field>
    <button
      mat-flat-button
      color="primary"
      class="my-button"
      (click)="query()"
      [disabled]="queryControl.invalid || this.queryControl.untouched"
      i18n="@@query"
    >
      Query
    </button>
    <div class="images">
      @for(myresult of results; track myresult.answer) {
      <div class="horizontal-container">
        <div><img [src]="myresult.b64Image" /></div>
        <div>{{ myresult.answer }}</div>
      </div>
      }
    </div>
  </div>
  }
</div>
