<mat-toolbar color="primary" class="custom-toolbar">
  <div class="toolbar-content">
    <div i18n="@@bookImportHeading">Book Import</div>
    <div class="example-fill-remaining-space"></div>
    <div>
      <button
        mat-flat-button
        color="primary"
        (click)="logout()"
        i18n="@@logout"
      >
        Logout
      </button>
    </div>
  </div>
</mat-toolbar>
<div class="base-container">

<form [formGroup]="bookForm">
<button mat-flat-button color="primary" i18n="@@bookImportAddChapter">Add Chapter</button>
<ng-container formArrayName="chapters">
@for(chaptersForm of chapters.controls;track chaptersForm) {
	<div class="chapter-container" [formGroup]="chaptersForm">
		<mat-form-field class="chapter-pages">
    	<mat-label>First Page</mat-label>
    	<input matInput [formControlName]="FormGroupKey.chapterStart" placeholder="first page">
  		</mat-form-field>		
		<mat-form-field class="chapter-pages">
    	<mat-label>Last Page</mat-label>
    	<input matInput [formControlName]="FormGroupKey.chapterEnd" placeholder="last page">
  		</mat-form-field>
  		<button mat-icon-button (click)="removeChapter(chaptersForm)">
        <mat-icon>remove</mat-icon>
      </button>
	</div>
}
</ng-container>

<input type="file" class="file-input"
       (change)="onFileSelected($event)" #fileUpload>
<div class="file-upload">

   {{bookForm.controls[FormGroupKey.file].value?.name || "No file uploaded yet."}}

    <button mat-mini-fab color="primary" class="upload-btn"
      (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
    </button>
</div>
</form>
</div>