<h1 mat-dialog-title i18n="@@docimportImportFile">Import file</h1>
<div mat-dialog-content>
  <p i18n="@@docimportFileToImport">File to import</p>
  @if(uploading) {
  <div class="upload-spinner"><mat-spinner></mat-spinner></div>
  } @else {
  <input type="file" (change)="onFileInputChange($event)" />
  } @if(!!file) {
  <div>
    <ul>
      <li>Name: {{ file.name }}</li>
      <li>Type: {{ file.type }}</li>
      <li>Size: {{ file.size }} bytes</li>
    </ul>
  </div>
  }
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()" i18n="@@cancel">Cancel</button>
  <button
    mat-flat-button
    color="primary"
    [disabled]="!file || uploading"
    (click)="upload()"
    i18n="@@docimportUpload"
  >
    Upload
  </button>
</div>
