<mat-toolbar color="primary" class="custom-toolbar">
  <div class="toolbar-content">
    <div i18n="@@doclistHeading">Document Search</div>
    <div class="example-fill-remaining-space"></div>
    <div>
      <button mat-flat-button color="primary" (click)="showList()" i18n="@@list">
        List
      </button>
    </div>
    <div>
      <button mat-flat-button color="primary" (click)="logout()" i18n="@@logout">
        Logout
      </button>
    </div>
  </div>
</mat-toolbar>
	<div class="search-bar">
		<mat-form-field class="example-full-width">
  			<mat-label i18n="@@search">Search</mat-label>
  			<textarea matInput [(ngModel)]="searchValue"></textarea>
		</mat-form-field>
		<div class="search-button-box">
		<button mat-flat-button color="primary" (click)="search()" i18n="@@search">
        	Search
      	</button>
      	</div>	
	</div>
